.usp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 80px);
	margin: 0 auto;
	font-family: $main-font;
	color: $primary-color;
	margin: 50px auto 75px auto;
	max-width: 1100px;
	width: 90%;

	@media screen and (max-width: 750px) {
		flex-wrap: wrap;
	}

	@media screen and (max-width: 485px) {
		margin-bottom: 30px;
	}

	&__item {
		text-align: center;

		@media screen and (max-width: 750px) {
			width: 50%;
			margin-bottom: 30px;
		}

		@media screen and (max-width: 485px) {
			width: 100%;
			margin-bottom: 30px;
		}

		.usp__text {
			width: 75%;
			margin: 0 auto;
		}
	}
}
