$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/css/all.css';
// @import "~bootstrap/scss/bootstrap";
@import 'config';
@import 'nav';
@import 'header';
@import 'usp';
@import 'grid';
